/* rwd img css，可當作是 CSS Reset 其中一個 */
img {
    max-width: 100%;
    height: auto;
}

/* 全域 border box */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* CSS Reset end */

header {
    background: #AA0601;
    height: 108px;
    padding: 0 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    display: block;
    width: 80px;
    height: 49px;
    background: url('../img/logo.png');

    /* 圖片取代文字技巧 */
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;

    color: #fff;
}

.menu {
    display: flex;

    /* 80*2 + 332 */
    width: 492px;
    max-width: 492px;


    justify-content: space-between;
}

.menu li a {
    color: #fff;
    font-size: 20px;
    line-height: 30px;

    display: block;
    text-align: center;

    text-decoration: none;
}

.menu li a:hover {
    cursor: pointer;
}

.btn-hamburger {
    display: none;
    position: absolute;
    left: 16px;

    width: 24px;
    color: #fff;
}

/* RWD: Pad */
@media(max-width: 992px) {
    header {
        padding: 0 6.25%;
    }

    .menu {
        /* 80*2 + 260 */
        max-width: 420px;
    }
}

/* RWD: mobile */
@media (max-width: 767px) {
    header {
        height: 50px;

        position: relative;
        justify-content: center;
        padding: 10px 0;
        align-items: center;
        flex-direction: column;
    }

    .logo a {
        width: 48px;
        height: 30px;
        background: url(../images/M2.png);
    }

    .btn-hamburger {
        display: block;
    }


    .menu {
        max-height: 0px;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        max-width: 100%;

        text-align: center;

        display: flex;
        flex-direction: column;
        overflow: hidden;
        transition: all 0.8s;
        z-index: 1;
    }

    .menu.active {
        max-height: 252px;
    }

    .menu li {
        display: block;
        background: #aa0601;
        color: #ffffff;
        border-top: 1px solid #ffffff;
        padding: 16px 0;
        z-index: 120;
    }

    .menu li:hover {
        background: #8f0400;
    }
}


.cover-page {
    background: url(../img/banner.png);
    max-width: 1920px;
    height: 840px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cover-title {
    margin-right: 18.75%;
    text-align: right;
}

.title-prefix {
    font-size: 36px;
    line-height: 54px;
    color: #650300;

    font-weight: 600;

    height: 50px;
}

.slogan-title {
    color: #650300;
    font-size: 64px;
    line-height: 96px;

    font-weight: 600;

    height: 90px;
}

/****************
* PROFESSIONAL
******************/
.section-title {
    font-size: 48px;
    line-height: 72px;
    text-align: center;
}

