/* rwd img css，可當作是 CSS Reset 其中一個 */
img {
    max-width: 100%;
    height: auto;
}

/* 全域 border box */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family:
        -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Microsoft JhengHei", Roboto,
        "Helvetica Neue", Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* CSS Reset end */

/********************
Header menu
**********************/
header {
    background: #AA0601;
    height: 108px;
    padding: 0 88px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    display: block;
    width: 80px;
    height: 49px;
    background: url('../img/logo.png');

    /* 圖片取代文字技巧 */
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;

    color: #FFFFFF;
}

.menu {
    display: flex;
    justify-content: space-between;

    /* 80*2 + 332 */
    width: 100%;
    max-width: 492px;

    text-align: center;
}

.menu li a {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;

    display: block;

    text-decoration: none;
}

.menu li a:hover {
    cursor: pointer;
}

.btn-hamburger {
    display: none;

    position: absolute;
    left: 16px;

    width: 24px;
    color: #FFFFFF;
}

/* RWD: Pad */
@media (max-width: 992px) {
    header {
        padding: 0 48px;
    }

    .menu {
        /* 80*2 + 260 */
        max-width: 420px;
    }
}

/* RWD: mobile */
@media (max-width: 767px) {
    header {
        height: 50px;

        position: relative;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo a {
        width: 48px;
        height: 30px;
        background: url(../img/logo-mobile.png);
    }

    .btn-hamburger {
        display: block;
    }

    .menu {
        max-height: 0px;

        position: absolute;
        left: 0;
        top: 50px;

        width: 100%;
        max-width: 100%;

        display: flex;
        flex-direction: column;

        overflow: hidden;
        transition: all 0.8s;
        z-index: 1;
    }

    .menu.active {
        max-height: 252px;
    }

    .menu li {
        display: block;

        background: #AA0601;
        color: #FFFFFF;
        border-top: 1px solid #FFFFFF;
        padding: 16px 0;
        z-index: 1;
    }

    .menu li:hover {
        background: #8f0400;
    }
}

/***************
Cover Page
****************/
.cover-page {
    background-image: url(../img/banner.png);

    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.anchor-slogan {
    height: 840px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cover-title {
    text-align: right;
    color: #650300;
    font-weight: 600;
}

.title-prefix {
    font-size: 36px;
    line-height: 54px;

    font-weight: 500;
    height: 50px;
}

.slogan-title {
    font-size: 64px;
    line-height: 96px;

    height: 90px;
}

/* pad */
@media (max-width: 992px) {
    .container {
        max-width: 672px;
    }

    .title-prefix {
        font-size: 20px;
        line-height: 30px;

        height: 28px;
    }

    .slogan-title {
        font-size: 48px;
        line-height: 72px;

        height: 67px;
    }
}

/* mobile */
@media (max-width: 767px) {
    .cover-page {
        background-image: url(../img/banner-mobile.png);
        background-size: cover;
    }

    .container {
        max-width: 352px;
    }

    .anchor-slogan {
        max-height: 394px;
    }

    .title-prefix {
        font-size: 16px;
        line-height: 30px;

        height: 22px;
    }

    .slogan-title {
        font-size: 32px;
        line-height: 72px;

        height: 45px;
    }
}

/****************
* Features
* 專業是有價的
******************/
.feature {
    padding-top: 64px;
    padding-bottom: 80px;
    background-color: #AA06010D;
}

/* pad */
@media (max-width: 992px) {
    .feature {
        padding-top: 40px;
        padding-bottom: 48px;
    }
}

/* mobile */
@media (max-width: 767px) {
    .feature {
        padding-top: 32px;
    }
}

.feature h2,
.feature h3 {
    color: #650300;
    line-height: 1.5em;
}

.feature p {
    line-height: 1.5em;
}

.feature h2 {
    margin-bottom: 44px;
    font-size: 48px;

    font-weight: 900;
}

.feature h3 {
    font-size: 24px;
    font-weight: 700;
}

@media (max-width: 992px) {
    .feature h2 {
        margin-bottom: 12px;
        font-size: 32px;
    }

    .feature h3 {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .feature h2 {
        margin-bottom: 12px;
        font-size: 24px;
        line-height: 2em;
    }
}

.feature p {
    font-size: 16px;
}

.feature h2,
.card-collection {
    text-align: center;
}

/* 卡片與卡片之間的排版 */
.card,
.card-collection {
    display: flex;
}

.card-collection {
    flex-wrap: wrap;
    justify-content: space-between;

    /*每張卡片齊頭*/
    align-items: flex-start;
}

/* 卡片內容排版 */
.card {
    /* pb 為0, 底下 paragraph 直接碰在 card 最底部 */
    padding: 16px 37px 0;

    flex-direction: column;
    /* 預設由上往下排排，但內容皆水平置中 */
    align-items: center;

    /* 這樣每張圖左右間隔 206px 和桌機版 XD稿 一樣*/
    width: 23.5%;
}

/* pad */
@media (max-width: 992px) {
    .card {
        padding: 20px 50px 8px;
        width: 48%;
        margin-bottom: 12px;
    }
}

/* mobile */
@media (max-width: 767px) {
    .card {
        padding: 20px 64px 8px;
        width: 98%;
        margin-bottom: 0;
    }
}

/* Set card img container */
.card .img-wrap {
    /* svg圖檔垂直置中於100*100 的容器中*/
    display: flex;
    /* justify-content: center; */
    align-items: center;

    width: 100px;
    height: 100px;

    margin-bottom: 40px;
}

/* pad */
/* mobile: the same as pad */
@media (max-width: 992px) {
    .card .img-wrap {
        width: 80px;
        height: 80px;

        margin-bottom: 16px;
    }
}

/* Set card subtitle(h3) margin bottom */
.card h3 {
    margin-bottom: 4px;
}

/* pad */
/* mobile: the same as desktop*/
@media (max-width: 992px) {
    .card h3 {
        margin-bottom: 8px;
    }
}

/* 卡片內文靠左對齊 */
.card p {
    text-align: left;
}

/* pad, mobile: card order is different from desktop 花惹發 */
@media (max-width: 992px) {
    .order-price {
        order: 3;
    }

    .order-20min {
        order: 1;
    }

    .order-support {
        order: 2;
    }

    .order-about {
        order: 4;
    }
}

/**************
Classic series
經典系列鏡框
******************/
.classic {
    padding: 64px 0 80px;
}

.classic h2 {
    font-weight: 600;

    font-size: 48px;
    line-height: 1.5em;

    color: #650300;

    text-align: center;
    margin-bottom: 60px;
}

/* 圖片與文字排版 */
.classic ul li {
    display: flex;
    align-items: center;

    margin-bottom: 32px;
}

.classic ul li:nth-child(2) {
    flex-direction: row-reverse;
}

.classic ul li:last-child {
    margin-bottom: 0;
}

/* 經典系列鏡框 圖片容器 */
.classic .series .img-wrap {
    width: 792px;
    height: 320px;

    background-size: cover;
    background-repeat: no-repeat;

    margin-right: 24px;
}

.classic .sunglasses .img-wrap {
    margin-left: 24px;
    margin-right: 0;
}

.optical .img-wrap {
    background-image: url(../img/product-1.png);
}

.sunglasses .img-wrap {
    background-image: url(../img/product-2.png);
}

.functional .img-wrap {
    background-image: url(../img/product-3.png);
}

.series .product-name {
    display: flex;
}

.classic .icon-wrap {
    width: 48px;

    margin-right: 8px;

    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

/* diamond icon*/
.optical .icon-wrap {
    background-image: url(../img/icon-diamond.svg);
}

/* sun icon */
.sunglasses .icon-wrap {
    background-image: url(../img/icon-sun.svg);
}

/* thunder icon */
.functional .icon-wrap {
    background-image: url(../img/icon-thunder.svg);
}

.classic p {
    font-weight: 900;

    font-size: 48px;
    line-height: 1.5em;

    font-style: italic;
    color: #AA0601;
}

/* pad */
@media (max-width: 992px) {
    .classic {
        padding: 40px 0 40px;
    }

    .container {
        max-width: 672px;
    }

    .classic h2 {
        font-size: 32px;
        line-height: 1.5em;

        margin-bottom: 32px;
    }

    .classic ul li {
        /* justify-content: space-between; */
        justify-content: start;
    }

    /* 圖片與文字排版 */
    .classic ul li:nth-child(2) {
        flex-direction: row;
    }

    /* 經典系列鏡框 圖片容器 */
    .classic .series .img-wrap {
        max-width: 410px;
        height: 168px;

        background-size: cover;
        background-repeat: no-repeat;

        margin-right: 24px;
    }

    /* 重置(reset) sunglassess 排版 */
    .classic .sunglasses .img-wrap {
        margin-left: 0;
    }


    .classic .product-name {
        /* 63 * 3 + 24 *2 */
        /* max-width: 237px; */

        /* icon 與 文字 就置中了 why?? */
        width: 45%;

        justify-content: center;
        /* align-items: center; */
    }

    .classic .icon-wrap {
        max-width: 32px;
    }

    .classic p {
        font-weight: 900;

        font-size: 28px;
        line-height: 1.5em;

        text-align: center;

        font-style: italic;
        color: #AA0601;
    }
}

/* mobile */
@media (max-width: 767px) {
    .classic {
        padding: 24px 0 24px 0;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .classic-photo {
        display: none;
    }

    .classic-optical {
        background-image: url(https://i.ibb.co/PTWrkhd/product-1.png);
    }

    .classic-sunglasses {
        background-image: url(https://i.ibb.co/HFgyzRF/product-2.png);
    }

    .classic-functional {
        background-image: url(https://i.ibb.co/9H6M8vJ/product-3.png);
    }

    .classic-m {
        height: 134px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .classic-optical,
    .classic-functional {
        justify-content: center;
        margin-left: 3%;
        margin-right: 3%;
    }

    .classic-sunglasses {
        justify-content: center;
        margin-left: 3%;
        margin-right: 3%;
    }

    .product-name {
        width: 100%;
    }

    .classic-text {
        color: #FFFFFF;
    }

    .diamond {
        background-image: url(https://svgshare.com/i/KXf.svg);
    }

    .sun {
        background-image: url(https://svgshare.com/i/KZD.svg);
    }

    .thunder {
        background-image: url(https://svgshare.com/i/KYY.svg);
    }
}
